
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    background-color: rgb(255, 255, 255);
  }
  
  .form-container {
    height: 400px;
    width: 400px;
    border: 2px solid black;
    font-size: 22px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); 
    line-height: 2.0;
    background: #fff8e1; ; 
    border-radius: 10px; 
    padding: 20px;
  }
  
  .form-container h1 {
    text-align: center;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-container form input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .form-container button {
    height: 35px;
    width: 120px;
    border-radius: 20px;
    font-size: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    transition: 0.3s;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
    cursor: pointer;
  }
  
  .link {
    text-align: center;
    padding-top: 10px;
  }
  
  .link a {
    color: #007bff;
    text-decoration: none;
  }
  
  .link a:hover {
    text-decoration: underline;
  }
  
  
  
