@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
body, html {
  font-family: "Dosis", serif;
  background-color: white;
  height: 100%; 
  padding: 0;
  margin: 0;
  font-size: 25px;
}
body,.drop-zone,.upload-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.upload-container{
  background-color: whitesmoke;
  border: 3px solid black;
  border-radius: 30px;
  box-shadow: 0px 20px 20px #0000002e;
}
.drop-zone {
  width: 600px;
  height: 300px;
  border-radius: 30px;
  margin: 30px;
  border: 2px dashed gray;
  background-color: whitesmoke;
  transition: all .2s ease;
}

.dragged.drop-zone{
  background-color: #ededed;
  border: 3px dashed #373737;
}

.icon-container{
  width:200px;
  height: 200px;
  position: relative;
}
.icon-container img{
  width: 100px;
}
#fileinput{
  display: none;
}
.browsebtn{
  color: gray;
  cursor: pointer;
}

.lottie-container{
  height: 400px;
  width: 300px;
  border: 2px solid black;
}
/* Login SignUp Form */
.form-container{
  height: 400px;
  width: 400px;
  border: 2px solid black;
  font-size: 22px;
  box-shadow: 20px 20px 20px lightgray;
  line-height: 2.0;
}
.form-container form{
  height: 400px;
  width: 400px;
  padding-left: 20px;
  
}
.form-container h1{
  margin-left: 160px;
}
.form-container form input{
  width: 250px;
  height: 25px;
  border-radius: 5px;
}
.form-container button{
  margin-left: 125px;
  height: 30px;
  width: 100px;
  border-radius: 20px ;
  font-size: 15px;
  margin-top: 20px;
  background-color: white;
}
.form-container button:hover{
  background-color: whitesmoke;
  cursor: pointer;
}
.link{
  padding: 20px;;
}
.link a{
  color: black;
}

/* progress-bar */
.progress-container{
  width: 600px;
  height: 70px;
  border: 1px solid grey;
  margin-bottom: 25px;
  border-radius: 10px;
  position: relative;
}
.progress-container .bg-progress{
  background-color:grey ;
  width: 0%;
  height: 100%;
  transform-origin: left;
  border-radius:5%;
  transition: width .25s linear;
  position: absolute;
  display: none;
}
.progress-container .inner-container{
  position: absolute;
  z-index: 1;
  margin: 10px 15px;
}
.inner-container{
  font-size: 0.8rem;
}